<%- include('partials/header') %>
<p class="text-center font-bold text-3xl mt-4">Add Routes</p>
<form
  method="post"
  action="/addRoutes"
  class="flex flex-col w-3/5 mx-auto px-3 py-2 border my-4 rounded-lg shadow-lg"
>
  <input
    type="text"
    name="routes[route]"
    class="my-2 border-none px-2 py-1"
    placeholder="Enter the route"
    required
  />
  <input
    type="text"
    name="routes[description]"
    class="my-2 border-none px-2 py-1"
    required
    placeholder="Enter the description"
  />
  <input
    type="text"
    name="routes[type]"
    required
    placeholder="Enter the type of request to be sent"
    class="my-2 border-none px-2 py-1"
  />
  <input
    type="number"
    name="routes[amountOfResponses]"
    class="my-2 border-none px-2 py-1"
    required
    placeholder="Enter the maximum number of responses by default"
  />
  <input
    type="submit"
    value="Create Route!"
    class="px-2 py-1 m-2 bg-black text-white cursor-pointer w-50 mx-auto font-semibold hover:bg-white hover:text-black border border-black shadow-md rounded-lg"
  />
</form>

<%- include('partials/footer') %>
